[submodule "moonlight-common/moonlight-common-c"]
	path = moonlight-common/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "X1Kit"]
	path = X1Kit
	url = https://github.com/fizzyade/X1Kit.git
